.quote {
	font-style: italic;
	color: var(--color-body-darker);
	line-height: 1.3;
	margin-left: 0;
	margin-right: 0;
}

.quote__text {
	font-size: 1.8rem;
}

.quote__text::before {
	content: open-quote;
}

.quote__text::after {
	content: close-quote;
}

.quote__author {
	font-size: 1.8rem;
	font-weight: 500;
	font-style: normal;
	margin-bottom: 0;
}

.quote__company {
	color: var(--color-headings);
	opacity: 0.4;
	font-size: 1.6rem;
	font-style: normal;
}

.quote__line {
	position: relative;
	bottom: 10px;
	width: 25px;
}

@media screen and (min-width: 400px) {
	.quote__text {
		font-size: 2.5rem;
	}

	.quote__author {
		font-size: 2.5rem;
	}

	.quote__company {
		font-size: 2rem;
	}

	.quote__line {
		width: 40px;
	}
}

@media screen and (min-width: 500px) {
	.quote {
		margin-right: 40px;
		margin-left: 40px;
	}
}

@media screen and (min-width: 768px) {
	.quote__text {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 950px) {
	.quote__text {
		font-size: 2.2rem;
	}
}

@media screen and (min-width: 1024px) {
	.quote__author {
		font-size: 2.4rem;
	}

	.quote__company {
		font-size: 1.6rem;
	}
}
