.block {
	--padding-vertical: 4rem;
	padding: var(--padding-vertical) 1.5rem;
}

.block__header {
	text-align: center;
	margin-bottom: 4rem;
}

.block__image {
	margin: 2rem auto;
}

.block--dark {
	background: #000;
	color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
	color: #fff;
}

.block--skewed-right {
	padding-bottom: calc(var(--padding-vertical) + 6rem);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 97%);
}

.block--skewed-left {
	padding-bottom: calc(var(--padding-vertical) + 6rem);
	clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

@media screen and (min-width: 440px) {
	.block {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.block--skewed-right {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 94%);
	}
}
