<!-- Remove this first div, that was just a temporary thing -->
<div style="width: 40%; padding: 3rem">
	<div class="card card--primary">
		<header class="card__header">Card Title</header>
		<div class="card__body">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos optio
			tempora saepe omnis aliquid dolore!
		</div>
	</div>
</div>
<div style="width: 40%; padding: 3rem">
	<div class="card card--secondary">
		<header class="card__header">Card Title</header>
		<div class="card__body">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos optio
			tempora saepe omnis aliquid dolore!
		</div>
	</div>
</div>
