<nav class="navbar collapsible">
	<a class="nav__header" href="/">
		<img class="logo" src="assets/logo-dark.svg" alt="" />
		<p class="logo-text">Güýmenje</p>
	</a>
	<svg class="icon icon--white collapsible__toggler nav__toggler">
		<use xlink:href="assets/sprite.svg#toggler"></use>
	</svg>
	<ul class="list nav__list collapsible__content">
		<li class="nav__item"><a href="#">Services</a></li>
		<li class="nav__item"><a href="#">Our Expertise</a></li>
		<li class="nav__item"><a href="#">Projects</a></li>
		<li class="nav__item"><a href="#">About Us</a></li>
	</ul>
</nav>

<section class="block block--dark block--skewed-right">
	<div class="container">
		<!-- If you want to remove the centered property, just remove this header.block__header -->
		<header class="block__header">
			<h2 class="block__heading">Heading</h2>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Sapiente odit voluptatibus commodi similique dolor molestiae
				nostrum in perspiciatis est quis.
			</p>
		</header>
	</div>
</section>
<section class="block container">
	<!-- If you want to remove the centered property, just remove this header.block__header -->
	<header class="block__header">
		<h2 class="block__heading">Heading</h2>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
			odit voluptatibus commodi similique dolor molestiae nostrum in
			perspiciatis est quis.
		</p>
	</header>
</section>
<section class="block block--dark block--skewed-left">
	<div class="container">
		<!-- If you want to remove the centered property, just remove this header.block__header -->
		<header class="block__header">
			<h2 class="block__heading">Heading</h2>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Sapiente odit voluptatibus commodi similique dolor molestiae
				nostrum in perspiciatis est quis.
			</p>
		</header>
	</div>
</section>
<section class="block container">
	<!-- If you want to remove the centered property, just remove this header.block__header -->
	<header class="block__header">
		<h2 class="block__heading">Heading</h2>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
			odit voluptatibus commodi similique dolor molestiae nostrum in
			perspiciatis est quis.
		</p>
	</header>
</section>

<h1>Header 1</h1>
<p>
	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod neque quos
	blanditiis impedit. Quaerat fugiat dolore porro totam, quidem iusto.
</p>
<h2>Header 2</h2>
<p>
	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod neque quos
	blanditiis impedit. Quaerat fugiat dolore porro totam, quidem iusto.
</p>
<h3>Header 3</h3>
<p>
	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod neque quos
	blanditiis impedit. Quaerat fugiat dolore porro totam, quidem iusto.
</p>

<button class="btn btn--outline">Get Started</button>
<button class="btn btn--primary">Get Started</button>
<button class="btn btn--secondary">Get Started</button>
<button class="btn btn--accent">Get Started</button>
<a href="#" class="btn btn--secondary">Get Started</a>
