<article class="grid grid--1x2 feature">
	<div class="feature__content">
		<span class="icon-container">
			<svg class="icon icon--primary">
				<use xlink:href="assets/sprite.svg#i-mobile"></use>
			</svg>
		</span>
		<h3 class="feature__heading">Mobile App Development</h3>
		<p>
			You've got the idea, we've got the expertise. From a wide variety of
			frameworks and technologies, our company can help turn your idea
			into a reality. Because we create BEAUTIFUL, RESPONSIVE and
			Incredibly FAST WEBSITES.
		</p>
		<a href="#" class="link-arrow">
			Learn More
			<svg class="icon">
				<use xlink:href="assets/sprite.svg#arrow-right"></use>
			</svg>
		</a>
	</div>
	<!-- Image Size: 1140x725 -->
	<img class="feature__image" src="assets/images/mobile.svg" alt="" />
</article>
