<section class="block block--dark block--skewed-left banner">
	<article class="container grid grid--1x2">
		<header class="block__header banner__content">
			<h1 class="block__heading">Application Development Company</h1>
			<p class="banner__tagline">
				Go from idea, wireframe, or technical specs to fully-functional
				applications incredibly fast.
			</p>
			<a href="#" class="btn btn--accent btn--stretched"> Get Started </a>
		</header>
		<img class="banner__image" src="assets/images/banner-mini.svg" alt="" />
	</article>
</section>
