<section class="block container showcase">
	<header class="block__header">
		<h2>Why People Choose Us?</h2>
		<p>
			Our clients love how we always strive to fulfill their core needs. Here is
			what differentiates us from the rest
		</p>
	</header>

	<article class="grid grid--1x2 feature">
		<div class="feature__content">
			<span class="icon-container">
				<svg class="icon icon--primary">
					<use xlink:href="assets/icons.svg#web"></use>
				</svg>
			</span>
			<h3 class="feature__heading">One Code, Multiple Platforms</h3>
			<p>
				The benefit here is from sharing a unified app business logic and up to
				almost 100% code reuse to target several platforms simultaneously: web,
				mobile ios and android platforms.
			</p>
			<a href="#" class="link-arrow">
				Learn More
				<svg class="icon">
					<use xlink:href="assets/icons.svg#arrow-right"></use>
				</svg>
			</a>
		</div>
		<!-- Image Size: 1140x725 -->
		<img class="feature__image" src="assets/images/cross-platform.svg" alt="" />
	</article>

	<article class="grid grid--1x2 feature">
		<div class="feature__content">
			<span class="icon-container">
				<svg class="icon icon--primary">
					<use xlink:href="assets/icons.svg#easy"></use>
				</svg>
			</span>
			<h3 class="feature__heading">
				Easy to Maintain and Simply Fast Applications
			</h3>
			<p>
				We design maintainable and extensible object-oriented softwares with
				reduced complexity. This helps us to develop the apps in a faster
				period, and give more focus on the speed of the applications.
			</p>
			<a href="#" class="link-arrow">
				Learn More
				<svg class="icon">
					<use xlink:href="assets/icons.svg#arrow-right"></use>
				</svg>
			</a>
		</div>
		<!-- Image Size: 1140x725 -->
		<img class="feature__image" src="assets/images/maintainable.svg" alt="" />
	</article>

	<article class="grid grid--1x2 feature">
		<div class="feature__content">
			<span class="icon-container">
				<svg class="icon icon--primary">
					<use xlink:href="assets/icons.svg#efficiency"></use>
				</svg>
			</span>
			<h3 class="feature__heading">
				Minimum Cost and Quicker Development Process
			</h3>
			<p>
				Cross-platform development cuts project costs without sacrificing app
				functionality or native-like interfaces. This method is 20-40% faster to
				create and deploy to app stores. Thus, we have the lowest fees in the
				industry, providing you with maximum value in the fastest time.
			</p>
			<a href="#" class="link-arrow">
				Learn More
				<svg class="icon">
					<use xlink:href="assets/icons.svg#arrow-right"></use>
				</svg>
			</a>
		</div>
		<!-- Image Size: 1140x725 -->
		<img class="feature__image" src="assets/images/efficiency.svg" alt="" />
	</article>

	<article class="grid grid--1x2 feature">
		<div class="feature__content">
			<span class="icon-container">
				<svg class="icon icon--primary">
					<use xlink:href="assets/icons.svg#trust"></use>
				</svg>
			</span>
			<h3 class="feature__heading">Flexibility and Trusted Delivery</h3>
			<p>
				We provide multiple payment terms and flexible agreements to enable you
				to grow up your business the way you want. Also, we guarantee quality
				assurance by delivering bug-free applications to have your end user's
				most pleasant user experience.
			</p>
			<a href="#" class="link-arrow">
				Learn More
				<svg class="icon">
					<use xlink:href="assets/icons.svg#arrow-right"></use>
				</svg>
			</a>
		</div>
		<!-- Image Size: 1140x725 -->
		<img class="feature__image" src="assets/images/trustworthy.svg" alt="" />
	</article>

	<article class="grid grid--1x2 feature">
		<div class="feature__content">
			<span class="icon-container">
				<svg class="icon icon--primary">
					<use xlink:href="assets/icons.svg#clock"></use>
				</svg>
			</span>
			<h3 class="feature__heading">24/7 Expert Support</h3>
			<p>
				Our dedicated support team works 24/7 to resolve all of your queries
				over the phone or email, no matter where you are located. So, feel free
				to contact us and ask any questions.
			</p>
			<a href="#" class="link-arrow">
				Learn More
				<svg class="icon">
					<use xlink:href="assets/icons.svg#arrow-right"></use>
				</svg>
			</a>
		</div>
		<!-- Image Size: 1140x725 -->
		<img class="feature__image" src="assets/images/support.svg" alt="" />
	</article>
</section>
