<section class="block block--dark block--skewed-right expertise">
	<header class="block__header">
		<h2>Common Technologies We Use</h2>
	</header>
	<div class="container grid grid--1x2">
		<ul class="list">
			<li>
				<div class="media">
					<div class="media__image">
						<span class="icon-container icon-container--dark">
							<svg class="icon icon--primary">
								<use xlink:href="assets/icons.svg#htmlcss"></use>
							</svg>
						</span>
					</div>
					<div class="media__body">
						<h3 class="media__title">HTML & CSS</h3>
						<p>
							HTML and CSS are two of the core technologies for building Web
							pages. HTML provides the page's structure, and CSS the layout for
							various devices.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media__image">
						<span class="icon-container icon-container--dark">
							<svg class="icon icon--primary">
								<use xlink:href="assets/icons.svg#javascript"></use>
							</svg>
						</span>
					</div>
					<div class="media__body">
						<h3 class="media__title">JavaScript</h3>
						<p>
							JavaScript is the world's most popular programming language. It is
							used to build web/mobile apps, real-time networking apps, command
							line tools and sometimes games. That's why we choose JavaScript as
							our main programming language.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media__image">
						<span class="icon-container icon-container--dark">
							<svg class="icon icon--primary">
								<use xlink:href="assets/icons.svg#typescript"></use>
							</svg>
						</span>
					</div>
					<div class="media__body">
						<h3 class="media__title">TypeScript</h3>
						<p>
							TypeScript is a strongly typed programming language that builds on
							JavaScript, giving you better tooling at any scale. We use it to
							build large-scale applications.
						</p>
					</div>
				</div>
			</li>
		</ul>
		<ul class="list">
			<li>
				<div class="media">
					<div class="media__image">
						<span class="icon-container icon-container--dark">
							<svg class="icon icon--primary">
								<use xlink:href="assets/icons.svg#react"></use>
							</svg>
						</span>
					</div>
					<div class="media__body">
						<h3 class="media__title">React & React Native</h3>
						<p>
							Both of these two technologies are JavaScript frameworks developed
							by Facebook. We use Reactjs to build websites (front-end
							applications) and React Native to build mobile applications.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media__image">
						<span class="icon-container icon-container--dark">
							<svg class="icon icon--primary">
								<use xlink:href="assets/icons.svg#node"></use>
							</svg>
						</span>
					</div>
					<div class="media__body">
						<h3 class="media__title">Node.js</h3>
						<p>
							Node.js is a free, open-sourced, cross-platform JavaScript
							run-time environment that lets developers write command line tools
							and server-side scripts outside of a browser. We use it to build
							fast and scalable back-end applications.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media__image">
						<span class="icon-container icon-container--dark">
							<svg class="icon icon--primary">
								<use xlink:href="assets/icons.svg#mysql"></use>
							</svg>
						</span>
					</div>
					<div class="media__body">
						<h3 class="media__title">MySQL</h3>
						<p>
							MySQL is an open-source relational database management system. We
							use it to add, access, and process data stored in the server
							computer.
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
