*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	overflow-x: hidden !important;
	max-width: 100%;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
	&:focus,
	&:visited,
	&:active {
		outline: none;
	}
}
