@use "./utilities" as *;
@use "./utilities/colors" as Color;
@use "./utilities/fonts" as Font;

::selection {
	background: Color.$primary;
	color: Color.$white;
}

body {
	font-family: Font.$system;
	font-size: getRem(18);
	line-height: 1.3;
	color: Color.$body;
	@include breakpoint(sm) {
		font-size: getRem(20);
	}
	@include breakpoint(lg) {
		font-size: getRem(18);
	}
}

h1 {
	color: Color.$heading;
	font-size: getRem(32);
	line-height: 1.1;
	margin-bottom: getRem(14);
	@include breakpoint(sm) {
		font-size: getRem(50);
	}
	@include breakpoint(lg) {
		font-size: getRem(70);
	}
}

h2 {
	color: Color.$heading;
	font-size: getRem(29);
	line-height: 1.15;
	margin-bottom: getRem(10);
	@include breakpoint(sm) {
		font-size: getRem(40);
	}
	@include breakpoint(lg) {
		font-size: getRem(45);
	}
}

h3 {
	color: Color.$heading;
	font-size: getRem(25);
	font-weight: 600;
	margin-bottom: getRem(10);
	@include breakpoint(sm) {
		font-size: getRem(28);
	}
	@include breakpoint(lg) {
		font-size: getRem(30);
	}
}

p {
	margin-top: 0;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	color: inherit;
}
