/* Features */
.feature {
	gap: 4rem 2rem;
	margin: 12rem 0;
}

.feature:first-of-type {
	margin-top: 6rem;
}

.feature:last-of-type {
	margin-bottom: 6rem;
}

.feature__heading {
	margin: 1rem 0;
}

.feature__image-container {
	display: block;
	align-self: center;
}

.feature__image {
	border-radius: 10px;
}

.feature__image-container > .feature__image {
	border-radius: 0;
}

@media screen and (min-width: 768px) {
	.feature:nth-of-type(even) .feature__content {
		order: 2;
	}
}

/* Expertise section */
.expertise > .grid {
	margin-top: 6rem;
}

/* Quotes */
.quote {
	font-style: italic;
	color: var(--color-body-darker);
	line-height: 1.3;
	margin-left: 0;
	margin-right: 0;
}

.quote__text {
	font-size: 1.8rem;
}

.quote__text::before {
	content: open-quote;
}

.quote__text::after {
	content: close-quote;
}

.quote__author {
	font-size: 1.8rem;
	font-weight: 500;
	font-style: normal;
	margin-bottom: 0;
}

.quote__company {
	color: var(--color-headings);
	opacity: 0.4;
	font-size: 1.6rem;
	font-style: normal;
}

.quote__line {
	position: relative;
	bottom: 10px;
	width: 25px;
}

@media screen and (min-width: 400px) {
	.quote__text {
		font-size: 2.5rem;
	}

	.quote__author {
		font-size: 2.5rem;
	}

	.quote__company {
		font-size: 2rem;
	}

	.quote__line {
		width: 40px;
	}
}

@media screen and (min-width: 500px) {
	.quote {
		margin-right: 40px;
		margin-left: 40px;
	}
}

@media screen and (min-width: 768px) {
	.quote__text {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 950px) {
	.quote__text {
		font-size: 2.2rem;
	}
}

@media screen and (min-width: 1024px) {
	.quote__author {
		font-size: 2.4rem;
	}

	.quote__company {
		font-size: 1.6rem;
	}
}

/* Testimonials */
.testimonials {
	transform: translateY(-7rem);
	padding-bottom: 0;
}

.testimonial {
	padding: 2rem;
	padding-bottom: 0;
}

.testimonial__image-container {
	position: relative;
}

.testimonial__image-container > .icon-container {
	position: absolute;
	top: 3rem;
	right: -20px;
	width: 40px;
	height: 40px;
}

@media screen and (min-width: 400px) {
	.testimonial {
		padding: 3rem;
		padding-bottom: 0;
	}

	.testimonial__image-container > .icon-container {
		right: -32px;
		width: 64px;
		height: 64px;
	}
}

@media screen and (min-width: 768px) {
	.testimonial {
		padding-bottom: 3rem;
	}

	.testimonial .quote,
	.testimonial .quote__author {
		font-size: 2.1rem;
	}

	.testimonial .quote__company {
		font-size: 1.8rem;
	}

	.testimonial .quote {
		margin-left: 6rem;
	}
}

/* Callouts */
.callout {
	padding: 4rem;
	border-radius: 0;
	transform: translateY(5rem);
}

.callout--primary {
	background: var(--color-primary);
	color: #fff;
}

.callout__heading {
	color: #fff;
	margin-top: 0;
	font-size: 3rem;
}

.callout__toggler {
	justify-self: center;
	align-self: center;
}

.collapsible--expanded .callout__toggler {
	box-shadow: 0 0 0 4px #87edff;
	transition: all 0.4s;
}

.callout__content {
	text-align: center;
}

.contact-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

.contact-info__header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	margin-bottom: 0;
	overflow: hidden;
}

.contact-info__heading {
	margin: 0 0 0.5rem 0;
	padding: 0 2rem;
	display: block;
	text-align: center;
}

.contact-type {
	width: 64px;
	height: 64px;
	border-radius: 10px;
	margin: 1rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: inherit;
	cursor: pointer;
	transition: background 0.3s;
}

.contact-type:hover {
	background: rgba(68, 68, 68, 0.3);
}

.contact-type:hover .icon {
	transform: scale(1.1);
	transition: all 0.3s;
}

@media screen and (min-width: 768px) {
	.callout {
		border-radius: 5px;
	}

	.callout .grid--1x2 {
		grid-template-columns: 1fr auto;
	}

	.callout__content {
		text-align: left;
	}

	.callout .btn {
		justify-self: start;
		margin: 0 0 0 1.5rem;
	}

	.contact-type {
		margin: 1rem 2.5rem;
	}

	.contact-info__heading {
		font-size: 2.3rem;
	}
}

/* Footer */
.footer {
	background: #232323;
	padding-top: 10rem;
	padding-bottom: 8.5rem;
}

.footer__toggler-container {
	background-color: #393939;
	width: 45px;
	height: 45px;
	margin-top: -5px;
}

.footer__toggler {
	width: 35px;
	height: 35px;
	transform: rotate(-90deg);
	transition: transform 0.3s;
}

.collapsible--expanded .footer__toggler {
	transform: rotate(0);
}

.footer__article {
	padding: 2rem;
	border-bottom: 1px solid #393939;
}

.footer__heading {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2.4rem;
}

.footer__brand {
	margin-top: 5rem;
	text-align: center;
}

.footer__brand > img {
	width: 90%;
	max-width: 230px;
	margin-bottom: 1.5rem;
}

.footer__copyright {
	font-size: 2.1rem;
	color: #fff;
	opacity: 0.3;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.3rem 0;
}

.footer a {
	color: #777;
	transition: color 0.3s;
}

.footer a:hover {
	color: #fff;
}

.footer__article .list {
	font-size: 2.2rem;
	margin: 0;
}

.footer__article .list li {
	padding: 0.4rem 0;
}

@media screen and (min-width: 768px) {
	.footer__articles {
		grid-template-columns: repeat(4, 1fr);
	}

	.footer__toggler-container {
		display: none;
	}

	.footer__article .collapsible__content {
		opacity: 1;
		max-height: 100%;
	}

	.footer__brand {
		order: -1;
		margin-top: 2rem;
	}

	.footer__copyright {
		font-size: 1.7rem;
	}

	.footer__article {
		border: 0;
	}

	.footer__article .list {
		font-size: 1.8rem;
	}

	.footer__heading {
		font-size: 2.2rem;
	}
}

/* Scroll To Top Button */
html {
	scroll-behavior: smooth;
}

.scroll-to-top {
	--btnWidth: 64px;
	--btnHeight: 64px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: var(--btnWidth);
	height: var(--btnHeight);
	border-radius: 100%;
	border: none;
	display: none;
	place-items: center;
	cursor: pointer;
	box-shadow: 0 0 10px #393939;
	margin: 0;
	padding: 0;
	opacity: 0.75;
	transition: opacity 0.2s;
	overflow: hidden;
	z-index: 999;
}

.scroll-to-top:hover {
	opacity: 1;
}

.scroll-to-top > .icon-container {
	--iconWidth: calc(var(--btnWidth) - 8px);
	--iconHeight: calc(var(--btnHeight) - 8px);
	background-color: #393939;
}

@media screen and (min-width: 400px) {
	.scroll-to-top > .icon-container {
		--iconWidth: calc(var(--btnWidth) - 8px - 12px);
		--iconHeight: calc(var(--btnHeight) - 8px - 12px);
	}
}

/* Scrolbar */
*::-webkit-scrollbar {
	width: 10px;
	background: #000;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #393939;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #393939;
}

*::-webkit-scrollbar-thumb:hover {
	background: #fff;
}
