<!-- Version 1 -->
<div class="callout callout--primary">
	<div class="grid grid--1x2">
		<div class="callout__content">
			<!-- Let's build something great together. -->
			<h2 class="callout__heading">Have a project for us?</h2>
			<p>
				Our dedicated support team works 24/7 to resolve all of your queries over the phone or
				email, no matter where you are located. So, feel free to contact us and ask any questions.
			</p>
		</div>
		<a href="mailto:agajansahatov@hotmail.com" class="btn btn--secondary btn--stretched">
			Contact Us
		</a>
	</div>
</div>

<!-- Version 2 -->
<div class="collapsible callout callout--primary">
	<div class="grid grid--1x2">
		<div class="callout__content">
			<h2 class="callout__heading">Have a project for us?</h2>
			<p>
				Our dedicated support team works 24/7 to resolve all of your queries over the phone or
				email, no matter where you are located. So, feel free to contact us and ask any questions.
			</p>
		</div>
		<button class="btn btn--secondary btn--stretched collapsible__toggler callout__toggler">
			Contact Us
		</button>
	</div>
	<div class="collapsible__content contact-info">
		<header class="contact-info__header">
			<svg class="icon">
				<use xlink:href="assets/icons.svg#line"></use>
			</svg>
			<p class="contact-info__heading">Let's build something great together!</p>
			<svg class="icon">
				<use xlink:href="assets/icons.svg#line"></use>
			</svg>
		</header>
		<a class="contact-type" href="mailto:agajansahatov@hotmail.com">
			<svg class="icon icon--white">
				<use xlink:href="assets/icons.svg#email"></use>
			</svg>
		</a>
		<button class="contact-type" onclick="window.alert('Phone Number: +86 132 5940 0802')">
			<svg class="icon icon--white">
				<use xlink:href="assets/icons.svg#call"></use>
			</svg>
		</button>
		<a class="contact-type" href="https://www.instagram.com/guymenje.code">
			<svg class="icon icon--white">
				<use xlink:href="assets/icons.svg#instagram"></use>
			</svg>
		</a>
		<a class="contact-type" href="https://www.facebook.com/agajansahatov">
			<svg class="icon icon--white">
				<use xlink:href="assets/icons.svg#facebook"></use>
			</svg>
		</a>
		<a class="contact-type" href="https://twitter.com/AgajanSahatov">
			<svg class="icon icon--white">
				<use xlink:href="assets/icons.svg#twitter"></use>
			</svg>
		</a>
		<a class="contact-type" href="https://www.linkedin.com/in/agajansahatov">
			<svg class="icon icon--white">
				<use xlink:href="assets/icons.svg#linkedin"></use>
			</svg>
		</a>
		<button class="contact-type" onclick="window.alert('Whatsapp Number: +86 132 5940 0802')">
			<svg class="icon icon--white">
				<use xlink:href="assets/icons.svg#whatsapp"></use>
			</svg>
		</button>
		<button class="contact-type" onclick="window.alert('Wechat ID: agajansahatov')">
			<svg class="icon icon--white">
				<use xlink:href="assets/icons.svg#wechat"></use>
			</svg>
		</button>
	</div>
</div>
