<div class="collapsible collapsible--expanded">
	<!--Anything you want to show in the hidden mode-->
	<h2>Expand</h2>

	<!--Anything you want to show in the expanded mode-->
	<div class="collapsible__content">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, nemo modi
		doloribus quos consequatur iure delectus explicabo aliquid id incidunt
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
		repellendus eos obcaecati quis laborum impedit alias magni itaque
		repudiandae sint
	</div>
</div>
