<section class="block container devices">
	<header class="block__header">
		<h2>Get your apps built for any device</h2>
		<p>
			Tired or Confused hiring different developers for each platform out
			there? Then you are in the right place. Our company offers you
			building WEB and CROSS-PLATFORM applications.
		</p>
	</header>
	<picture>
		<source
			type="image/webp"
			srcset="
				assets/images/devices.webp    1x,
				assets/images/devices@2x.webp 2x
			"
		/>
		<source
			type="image/png"
			srcset="
				assets/images/devices.png    1x,
				assets/images/devices@2x.png 2x
			"
		/>
		<img class="block__image" src="assets/images/devices@2x.png" alt="" />
	</picture>
</section>
