<nav class="nav collapsible">
	<a class="nav__header" href="/">
		<img class="logo" src="assets/logo-dark.svg" alt="" />
		<p class="logo-text">Güýmenje</p>
	</a>
	<svg class="icon icon--white collapsible__toggler nav__toggler">
		<use xlink:href="assets/sprite.svg#toggler"></use>
	</svg>
	<ul class="list nav__list collapsible__content">
		<li class="nav__item"><a href="#">Services</a></li>
		<li class="nav__item"><a href="#">Our Expertise</a></li>
		<li class="nav__item"><a href="#">Projects</a></li>
		<li class="nav__item"><a href="#">About Us</a></li>
	</ul>
</nav>
