<header>
	<nav></nav>
	<!--Banner-->
	<section>
		<h1>Hello World!</h1>
		<article></article>
	</section>
</header>
<main>
	<!--Services-->
	<section>
		<h2></h2>
		<!--Front-End Development-->
		<section>
			<h3></h3>
			<article></article>
		</section>
		<!--Back-End Development-->
		<section>
			<h3></h3>
			<article></article>
		</section>
		<!--Mobile App Development-->
		<section>
			<h3></h3>
			<article></article>
		</section>
	</section>

	<!--Our Expertise-->
	<section>
		<h2></h2>
		<article></article>
	</section>

	<!--Testimonials-->
	<section>
		<h2></h2>
		<article></article>
	</section>

	<!--Contact Us-->
	<section>
		<h2></h2>
		<article></article>
	</section>
</main>
<footer>
	<!--Copyright-->
</footer>
