<header>
	<nav></nav>
	<!--Banner-->
	<section>
		<h1>Hello World!</h1>
		<article></article>
	</section>
</header>
<main>
	<!--Services - Features Blocks-->
	<section>
		<h2></h2>
		<!--Front-End Development-->
		<section>
			<h3></h3>
			<article></article>
		</section>
		<!--Back-End Development-->
		<section>
			<h3></h3>
			<article></article>
		</section>
		<!--Mobile App Development-->
		<section>
			<h3></h3>
			<article></article>
		</section>
	</section>

	<!-- Our Expertise -->
	<section>
		<h2></h2>
		<article></article>
	</section>

	<!--Why Choose Us? - Showcase Block-->
	<section>
		<h2></h2>
		<article></article>
	</section>

	<!--Testimonials - What our costumers saying-->
	<section>
		<h2></h2>
		<article></article>
	</section>

	<!--Contact Us - Callouts-->
	<section>
		<h2></h2>
		<article></article>
	</section>
</main>
<footer>
	<!--Copyright-->
</footer>
