<picture>
	<source
		type="image/webp"
		srcset="assets/images/banner.webp 1x, assets/images/banner@2x.webp 2x"
	/>
	<source
		type="image/png"
		srcset="assets/images/banner.png 1x, assets/images/banner@2x.png 2x"
	/>
	<img class="banner__image" src="assets/images/banner.png" alt="" />
</picture>

<!-- Sizes Attribute -->
<img sizes="(max-width: 1400px) 100vw, 1400px" />
<img
	sizes="
		(max-width: 500px) 100vw,
		(max-width: 700px) 50vw,
		33vw 
	"
/>

<!-- feature/picture component -->
<picture>
	<!-- Image Size should be 1024x700 -->
	<source
		type="image/webp"
		srcset="assets/images/web.webp 1x, assets/images/web@2x.webp 2x"
	/>
	<source
		type="image/png"
		srcset="assets/images/web.png 1x, assets/images/web@2x.png 2x"
	/>
	<img class="feature__image" src="assets/images/web@2x.png" alt="" />
</picture>
