<section class="block container testimonials">
	<header class="block__header">
		<h2>What our Customers are Saying</h2>
		<p>We are delighted to have such happy and satisfied customers.</p>
	</header>
	<article>
		<div class="card testimonial">
			<div class="grid grid--1x2">
				<div class="testimonial__image">
					<img
						src="assets/images/testimonial.jpg"
						alt="A happy, smiling customer"
					/>
					<span class="icon-container icon-container--accent">
						<svg class="icon icon--white icon--small">
							<use xlink:href="assets/icons.svg#quotes"></use>
						</svg>
					</span>
				</div>
				<blockquote class="quote">
					<p class="quote__text">
						I am so happy to recommend Agajan Sahatov and his company. They
						delivered an excellent website (a landing page), which is very
						beautiful, responsive and blazingly fast. The team is very
						professional, easy to work with and has good results.
					</p>
					<div class="media">
						<div class="media__image">
							<svg class="icon icon--primary quote__line">
								<use xlink:href="assets/icons.svg#line"></use>
							</svg>
						</div>
						<div class="media__body">
							<h3 class="media__title quote__author">John Smith</h3>
							<p class="quote__company">Entrepreneur</p>
						</div>
					</div>
				</blockquote>
			</div>
		</div>
	</article>
</section>
