:global(.icon-container) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: var(--iconWidth);
	height: var(--iconHeight);
	border-radius: 100%;
	background: #f3f9fa;
	overflow: hidden;
}

.icon-container--accent {
	background: var(--color-accent);
}

.icon-container--dark {
	background: #1d1d1d;
}

.icon {
	width: calc(var(--iconWidth) - 17px);
	height: calc(var(--iconHeight) - 17px);
}

.icon--small {
	width: calc(var(--iconWidth) - 36px);
	height: calc(var(--iconHeight) - 36px);
}

.icon--primary {
	fill: var(--color-primary);
}

.icon--accent {
	fill: var(--color-accent);
}

.icon--white {
	fill: #fff;
}

@media screen and (min-width: 400px) {
	:global(.icon-container) {
		width: calc(var(--iconWidth) + 12px);
		height: calc(var(--iconHeight) + 12px);
	}

	.icon {
		width: calc(var(--iconWidth) - 12px);
		height: calc(var(--iconHeight) - 12px);
	}

	.icon--small {
		width: calc(var(--iconWidth) - 22px);
		height: calc(var(--iconHeight) - 22px);
	}
}
