$primary: #2584ff;
$secondary: #00d9ff;
$accent: #ff3400;
$heading: #1b0760;
$body: #918ca4;
$border: #ccc;
$white: #fff;
$black: #000;
$dark: #1d1d1d;
$light: #f3f9fa;
$grey: #d2d0db;
$darkGrey: #7b858b;
