.collapsible__content {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
	max-height: 100vh;
	opacity: 1;
}

.collapsible__header {
	display: flex;
	justify-content: space-between;
}

.collapsible__heading {
	font-size: 3rem;
	margin-top: 0;
}
