@use "../utilities" as *;
@use "../utilities/colors" as Color;

.block {
	$paddingVertical: 40px;

	padding: $paddingVertical 15px;

	@include breakpoint(sm) {
		padding-left: 25px;
		padding-right: 25px;
	}

	&__header {
		text-align: center;
		margin-bottom: 40px;
	}
	&__image {
		margin: 20px auto;
	}
	&__heading {
		margin-top: 0;
	}

	&--dark {
		background: Color.$black;
		color: Color.$darkGrey;
		h1,
		h2,
		h3 {
			color: Color.$white;
		}
	}
	&--skewed-right {
		padding-bottom: $paddingVertical + 60;
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 97%);

		@include breakpoint(sm) {
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 94%);
		}
	}
	&--skewed-left {
		padding-bottom: $paddingVertical + 60;
		clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
	}
}
