@use "../utilities" as *;

.grid {
	display: grid;
	&--1x2 {
		@include breakpoint(md) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&--1x3 {
		@include breakpoint(lg) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
