@use "../utilities/colors" as Color;
@use "../utilities" as *;

.banner {
	min-height: fit-content;
	display: flex;
	align-items: center;

	@include breakpoint(md) {
		&__content {
			text-align: left;
			align-self: center;
		}
		&__image {
			margin-top: 10px;
		}
	}
	@include breakpoint(lg) {
		min-height: 96vh;
	}

	&__tagline {
		color: Color.$grey;
		letter-spacing: 1px;
		margin: 20px 0 40px;
	}

	&__image {
		align-self: center;
	}
}
