@use "sass:color";
@use "../utilities" as *;
@use "../utilities/colors" as Color;

.footer {
	background: Color.$dark;
	padding-top: 120px;
	padding-bottom: 85px;

	a {
		color: color.scale(Color.$dark, $lightness: 50%);
		transition: color 0.3s;
		&:hover {
			color: Color.$white;
		}
	}

	&__toggler-container {
		background-color: color.scale(Color.$dark, $lightness: 20%);
		width: 45px;
		height: 45px;
		margin-top: -5px;
		@include breakpoint(md) {
			display: none;
		}
	}

	&__toggler {
		width: 35px;
		height: 35px;
		transform: rotate(-90deg);
		transition: transform 0.3s;
	}

	.collapsible--expanded &__toggler {
		transform: rotate(0);
	}

	&__article {
		padding: 20px;
		border-bottom: 1px solid color.scale(Color.$dark, $lightness: 20%);
		.list {
			font-size: getRem(22);
			margin: 0;

			@include breakpoint(md) {
				font-size: getRem(18);
			}

			li {
				padding: 4px 0;
			}
		}
		@include breakpoint(md) {
			border: 0;
			.collapsible__content {
				opacity: 1;
				max-height: 100%;
			}
		}
	}

	&__articles {
		@include breakpoint(md) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__heading {
		text-transform: uppercase;
		font-weight: 600;
		font-size: getRem(24);

		@include breakpoint(md) {
			font-size: getRem(22);
		}
	}

	&__brand {
		margin-top: 50px;
		text-align: center;
		> img {
			width: 90%;
			max-width: 230px;
			margin-bottom: 15px;
		}
		@include breakpoint(md) {
			order: -1;
			margin-top: 20px;
		}
	}

	&__copyright {
		font-size: getRem(21);
		color: Color.$white;
		opacity: 0.3;
		margin-top: 0;
		margin-bottom: 0;
		padding: 3px 0;
		@include breakpoint(md) {
			font-size: getRem(17);
		}
	}
}
