.link-arrow {
	color: var(--color-accent);
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.link-arrow .icon {
	fill: var(--color-accent);
	height: 2.2rem;
	width: 2.2rem;
	margin-left: 5px;
	transition: margin 0.3s;
}

.link-arrow:hover .icon {
	margin-left: 8px;
}

@media screen and (min-width: 440px) {
	.link-arrow {
		font-size: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	.link-arrow {
		font-size: 1.8rem;
	}

	.link-arrow .icon {
		height: 1.8rem;
		width: 1.8rem;
	}
}
