.card {
	border-radius: 7px;
	box-shadow: 0 0 20px 10px #f3f3f3;
	overflow: hidden;
}

.testimonials {
	transform: translateY(-7rem);
	padding-bottom: 0;
}

.testimonial {
	padding: 2rem;
	padding-bottom: 0;
}

.testimonial__image-container {
	position: relative;
}

.testimonial__image-container > .testimonial__icon-container {
	position: absolute;
	top: 3rem;
	right: -20px;
	width: 40px;
	height: 40px;
}

@media screen and (min-width: 400px) {
	.testimonial {
		padding: 3rem;
		padding-bottom: 0;
	}

	.testimonial__image-container > .testimonial__icon-container {
		right: -32px;
		width: 64px;
		height: 64px;
	}
}

@media screen and (min-width: 768px) {
	.testimonial {
		padding-bottom: 3rem;
	}

	.testimonial .quote,
	.testimonial .quote__author {
		font-size: 2.1rem;
	}

	.testimonial .quote__company {
		font-size: 1.8rem;
	}

	.testimonial .quote {
		margin-left: 6rem;
	}
}
