:root {
	--color-primary: #2584ff;
	--color-secondary: #00d9ff;
	--color-accent: #ff3400;
	--color-headings: #1b0760;
	--color-body: #918ca4;
	--color-body-darker: #5c5577;
	--color-border: #ccc;
	--border-radius: 30px;
	--iconWidth: 52px;
	--iconHeight: 52px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden !important;
	max-width: 100%;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

a:focus,
a:visited,
a:active {
	outline: none;
}

/* Scrolbar */
*::-webkit-scrollbar {
	width: 10px;
	background: #000;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #393939;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #393939;
}

*::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

/* Grids */
.grid {
	display: grid;
}

@media screen and (min-width: 768px) {
	.grid--1x2 {
		/* Divide into 2 and give each child 1 slice */
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.grid--1x3 {
		/* Divide into 2 and give each child 1 slice */
		grid-template-columns: repeat(3, 1fr);
	}
}
