::selection {
	background: var(--color-primary);
	color: #fff;
}

html {
	font-size: 62.5%;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.8rem;
	line-height: 1.3;
	color: var(--color-body);
}

h1,
h2,
h3 {
	color: var(--color-headings);
	margin-bottom: 1rem;
}

h1 {
	font-size: 3.2rem;
	line-height: 1.1;
	margin-bottom: 1.4rem;
}

h2 {
	font-size: 2.9rem;
	line-height: 1.15;
}

h3 {
	font-size: 2.5rem;
	font-weight: 600;
}

p {
	margin-top: 0;
}

@media screen and (min-width: 440px) {
	body {
		font-size: 2rem;
	}

	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 2.8rem;
	}
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 1.8rem;
	}

	h1 {
		font-size: 7rem;
	}

	h2 {
		font-size: 4.5rem;
	}

	h3 {
		font-size: 3rem;
	}
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
	color: inherit;
}
