@use "../utilities" as *;
@use "../utilities/colors" as Color;

.link-arrow {
	color: Color.$accent;
	text-transform: uppercase;
	font-size: getRem(18);
	font-weight: bold;
	display: flex;
	align-items: center;

	.icon {
		fill: Color.$accent;
		height: getRem(22);
		width: getRem(22);
		margin-left: 5px;
		transition: margin 0.3s;
		@include breakpoint(lg) {
			height: getRem(18);
			width: getRem(18);
		}
	}
	&:hover .icon {
		margin-left: 8px;
	}
	@include breakpoint(sm) {
		font-size: getRem(20);
	}
	@include breakpoint(lg) {
		font-size: getRem(18);
	}
}
