@use "../utilities" as *;
@use "../utilities/colors" as Color;

.btn {
	font-size: getRem(14);
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 30px;
	border: 0;
	border-radius: $borderRadius;
	cursor: pointer;
	white-space: nowrap;
	margin: 10px 0;
	outline: 0;

	&:hover {
		transition: all 0.3s ease-in-out;
	}

	@include breakpoint(sm) {
		font-size: getRem(18);
	}
	@include breakpoint(lg) {
		font-size: getRem(16);
	}

	&--primary {
		background: Color.$primary;
		color: getForeColor(light);
		&:hover {
			background: getHoverColor(Color.$primary, dark);
		}
	}
	&--secondary {
		background: Color.$secondary;
		color: getForeColor(light);
		&:hover {
			background: getHoverColor(Color.$secondary, dark);
		}
	}
	&--accent {
		background: Color.$accent;
		color: getForeColor(light);
		&:hover {
			background: getHoverColor(Color.$accent, dark);
		}
	}
	&--outline {
		background: Color.$white;
		color: getForeColor(dark);
		border: 2px solid getForeColor(dark);
		&:hover {
			background: getHoverColor(Color.$white, light);
		}
	}
	&--stretched {
		padding-left: 30px;
		padding-right: 30px;
		@include breakpoint(sm) {
			padding-left: 60px;
			padding-right: 60px;
		}
	}
	&--block {
		width: 100%;
		display: inline-block;
	}
}
