@use "../utilities" as *;
@use "../utilities/colors" as Color;

.callout {
	padding: 40px;
	border-radius: 0;
	transform: translateY(50px);

	@include breakpoint(md) {
		border-radius: 5px;
		.grid--1x2 {
			grid-template-columns: 1fr auto;
		}
		.btn {
			justify-self: start;
			margin: 0 0 0 15px;
		}
	}

	&--primary {
		background: Color.$primary;
		color: getForeColor(light);
	}

	&__heading {
		color: getForeColor(light);
		margin-top: 0;
		font-size: getRem(30);
	}

	&__toggler {
		justify-self: center;
		align-self: center;
	}
	.collapsible--expanded &__toggler {
		box-shadow: 0 0 0 4px getHoverColor(Color.$secondary, light);
		transition: all 0.4s;
	}

	&__content {
		text-align: center;
		@include breakpoint(md) {
			text-align: left;
		}
	}
}

.contact-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;

	&__header {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 0;
		overflow: hidden;
	}

	&__heading {
		margin: 0 0 5px 0;
		padding: 0 20px;
		display: block;
		text-align: center;

		@include breakpoint(md) {
			font-size: getRem(23);
		}
	}
}

.contact-type {
	width: 64px;
	height: 64px;
	border-radius: 10px;
	margin: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: inherit;
	cursor: pointer;
	transition: background 0.3s;

	@include breakpoint(md) {
		margin: 10px 25px;
	}

	&:hover {
		background: rgba(68, 68, 68, 0.3);
	}

	&:hover .icon {
		transform: scale(1.1);
		transition: all 0.3s;
	}
}
