@use "../utilities" as *;

.testimonial {
	padding: 20px;
	padding-bottom: 0;

	@include breakpoint(xs) {
		padding: 30px;
		padding-bottom: 0;
	}
	@include breakpoint(md) {
		padding-bottom: 30px;

		.quote,
		.quote__author {
			font-size: getRem(21);
		}
		.quote {
			margin-left: 60px;
		}
		.quote__company {
			font-size: getRem(18);
		}
	}

	&__image-container {
		position: relative;

		> .icon-container {
			position: absolute;
			top: 30px;
			right: -20px;
			width: 40px;
			height: 40px;

			@include breakpoint(xs) {
				right: -32px;
				width: 64px;
				height: 64px;
			}
		}
	}
}
